body {
    font-size: 42px;
    background-color: #ffffff;
}

table, th, td {
    border-collapse: collapse;
    padding: 10px 20px;
}

th {
    background-color: #27ae60;
}

.row:nth-last-of-type(odd){
    background-color: #e9e9e9;
}

p {
    margin: 20px 0px;
}

h1 {
    margin-bottom: 0px;
}

.container {
    display: flex;  
    margin-left: 3rem;
    margin-right: 3rem;
    flex-direction: column;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    box-shadow: 10px 10px 5px #d2d1d1;
} 

.btn {
    font-size: 35px;
    justify-content: center;
    cursor: pointer;
    height: fit-content;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: #4169E1;
    border: none;
    border-radius: 4px;
    margin: 20px 0px;
    padding: 15px;
}

.info-wrap {
    display: flex;
}

.div-logout {
    flex-grow: 1;
}

.info {
    min-width: 500px;
}

.div-logout {
    text-align: right;
}

.div-logout .btn {
    margin-top: 30px;
}

@media (min-width: 1000px) {
    .table {
    width: fit-content; }
    .btn {
        font-size: 20px;
        padding: 10px;
    }
    body {
        font-size: 20px;
    }
    .container {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}

.Topup {
    display: flex;  
}

.Topup p {
    text-align: right;
    margin-right: 0rem;
    flex-grow: 1;
    color: darkblue;
    font-weight: bold;
}

.row .btn {
    margin: 3px;
    padding: 2px 5px;
    text-transform: none;
}