table, th, td {
    border-collapse: collapse;
    border:1px solid black;
    }
.table {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
} 
.btn{
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    background: #4169E1;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
}

.info {
    margin-left: 5%;
}

.container {
    display: flex;  
}

.btnlogout {
    margin: 50% 50%;
}

.temp {
    flex-grow: 1;
}

.form {
    margin-right: 5%;
}