extends layout

block content
  div.signin
    div.center
      div.login
        h3 LOGIN
        if hasErrors
          each mess in messages
            span.err= mess
        form(action="/auth/login" method="post")
            div.field
                div.label(for="username") Username
                input(type="text" name="username" placeholder='username')
            div.field
                div.label(for="password") Password
                input(type="password" name="password" placeholder='password')
            button.btn(type='submit') Login
            p Don't Have An Account? 
              a(href='/auth/signup') Register
    div.messages
      if messages
        ul
          for message in messages
            li!= message.msg 